node_modules
.next
.turbo
dist
out
build

.env
.env.local
.env.*.local
!.env.example

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.swp
*.swo

coverage
.tsbuildinfo
*.tsbuildinfo

.expo
.expo-shared
web-build

drizzle/meta
