@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }
  html {
    direction: rtl;
  }
  body {
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  }
}
